.main {
    content: 90px 60px;
    margin-top: 100px;
}

body{
    background: url(background.jpg);
}
h1 {
    font-size: 25px;
    font-style: italic;
    margin-left: 100px;
    margin-top: 10px;
    color: white;
    }

.foto { 
	border: 10px solid #efefef; 
	position: absolute; 
	overflow: hidden; 
    background: #efefef;
    
}
 
.foto { 
    margin-top: 30px;
    margin-left: 100px;
	width: 700px;
	height: 400px; 
}
.isifoto img { 
	width: 768px;
	height: 450px; 
    float: left;
    margin-top: 10px;
}

.isifoto { 
	position: absolute; 
    width:3900px; 
    
    animation-name:slider;
	animation-duration:16s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	-webkit-animation-name:slider;
	-webkit-animation-duration:16s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:16s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:16s;
	-o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count:infinite;
}

.isifoto:hover{
    -webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused;
}

.isifoto img { 
	float: right; 
}
 
.foto:after { 
	font-size: 150px; 
	position: absolute; 
	z-index: 12; 
	color: rgba(255,255,255, 0); 
	left: 300px; top: 80px; 
	-webkit-transition: 1s all ease-in-out; 
	-moz-transition: 1s all ease-in-out; 
	transition: 1s all ease-in-out; 
}
 
.foto:hover:after { 
	color: rgba(255,255,255, 0.6);  
}
 

@-webkit-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}       
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 
 

p {
    font-size: 20px;
    color: white; 
    text-align: justify; 
    font-style: normal;
    /*height: 30px; */
    width: 50%;
    /*background-color: burlywood;*/
    word-wrap: break-word;
    float: right;
    margin-top: 1px;
    margin-right: 50px;
    
}



